<h3><strong>登録情報編集</strong>
</h3>
<%= form_for(@end_user) do |f| %>
  <table class="table">
    <tbody>
    <tr>
      <th scope="row">氏名</th>
      <td><%= f.text_field :last_name, autofocus: true %></td>
      <td><%= f.text_field :first_name, autofocus: true %></td>
    </tr>
    <tr>
      <th scope="row">カナ</th>
      <td><%= f.text_field :last_name_kana, autofocus: true %></td>
      <td><%= f.text_field :first_name_kana, autofocus: true %></td>
    </tr>
    <tr>
      <th scope="row">郵便番号</th>
      <td><%= f.text_field :postal_code, autofocus: true %></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">住所</th>
      <td><%= f.text_field :address, autofocus: true %></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">電話番号</th>
      <td><%= f.telephone_field :phone_number, autofocus: true %></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td><%= f.email_field :email, autofocus: true %></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <%= f.submit "編集内容を保存", class: 'btn btn-success' %>
  <%= link_to "退会する", end_users_end_users_confirm_path, class: "btn btn-danger" %>
<% end %>
